Recipient: <%= @tracker.recipient %>
<br/>
Notes: <%= @tracker.notes %>
<br/>
<br/>

<h2>Statistics</h2>
This tracker has been viewed: <%= @tracker.view_count %>
<br/>
This tracker was last viewed: <%= @tracker.last_viewed %>
<br/>
This tracker was created at: <%= @tracker.created_at %>
<br/>
<br/>


<h2>Add this "image" you email body.</h2>
<div>
  <p>
    Drag and drop the picture to the body of your email. Don't worry that the image does not show in the email, this is
    intentional.
  </p>

  <div><%= tracker_link_img(@tracker.uuid) %></div>
  <pre><%= tracker_link_text(@tracker.uuid) %></pre>
</div>

<%= link_to "New", new_tracker_path %>